

.container {
    background-color: gray;
    text-align: center;
  
}

.heading {
    justify-items: center;
    text-align: center;
    margin: auto;
    
}

#marvel {
    text-align: left;
}

.liste {
    text-align: left;
}

#lieber {
    color: red;
}