body {
    background-color: black;
    color: white;
}

.container {
    
    background-color: rgb(48, 46, 46);
    width: 80%;
    margin: auto;
    border-radius: 20px;
  
}

.heading {
    font-family: 'Lobster', cursive;
}

#title {
    font-size: 75px;
    text-align: center;
}

#img-div {
    
    text-align: center;
}

#image {
    width: 350px;
    border-radius: 40px;
}

#info {
    
    width: 80%;
    margin: 20px auto;
    text-align: justify;
    font-size: 1.5rem;
}

#marvel {
    color: red;
    margin-left:10% ;
}

ul {
    width: 80%;
    margin: auto;
}

li{
    font-size: 24px;
    line-height: 3rem;
}

#footer {
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
}

#link {
    text-decoration: none;
    color: white;
    border: 2px solid orange;
    padding: 1rem;
    border-radius: 100px;
    background-color: black;
}

#link:hover {
    background-color: grey;
    color: red;
}